flows.json
[
    {
        "id": "login-flow",
        "type": "tab",
        "label": "Authentication",
        "disabled": false,
        "info": ""
    },
    {
        "id": "environment-flow",
        "type": "tab",
        "label": "Environment",
        "disabled": false,
        "info": ""
    },
    {
        "id": "sleep-flow",
        "type": "tab",
        "label": "Sleep Tracking",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e3ede8339268118c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e53723f2e405b89",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c5f97a5f0e24b71",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "login-tab",
        "type": "ui_tab",
        "name": "Login",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "environment-tab",
        "type": "ui_tab",
        "name": "Environment",
        "icon": "fa-leaf",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "sleep-tab",
        "type": "ui_tab",
        "name": "Sleep",
        "icon": "fa-bed",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_base",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Sleep Tracking Theme",
                "default": "#4B1A52",
                "baseColor": "#4B1A52",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Sleep Tracking Clock",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "login-group",
        "type": "ui_group",
        "name": "Login",
        "tab": "login-tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "env-charts-group",
        "type": "ui_group",
        "name": "Environment Data",
        "tab": "environment-tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "07391ca88541455f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "44790f209ca2adcd",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "sleep-charts-group",
        "type": "ui_group",
        "name": "Sleep Tracking Data",
        "tab": "sleep-tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "923fa8921ff9b099",
        "type": "ui_group",
        "name": "",
        "tab": "44790f209ca2adcd",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "82d11885287ffda4",
        "type": "ui_spacer",
        "z": "4c5f97a5f0e24b71",
        "name": "spacer",
        "group": "923fa8921ff9b099",
        "order": 7,
        "width": 10,
        "height": 1
    },
    {
        "id": "0a2ef10a95340e8c",
        "type": "ui_spacer",
        "z": "4c5f97a5f0e24b71",
        "name": "spacer",
        "group": "923fa8921ff9b099",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "cb7b12f45030da61",
        "type": "firebase config",
        "firebaseurl": "sleeptracker-us-db-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "41cc11a7df67cd3b",
        "type": "gauth",
        "name": "iot-sleeptracker@iot-sleeptracker-auth.iam.gserviceaccount.com"
    },
    {
        "id": "c9ba07264dcdb2d4",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "09fdae3a384fe316",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "5d50083648cbcba6",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "c9ba07264dcdb2d4",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "09fdae3a384fe316",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "096cf77441ce34c4",
        "type": "ui-group",
        "name": "Group 1",
        "page": "5d50083648cbcba6",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "login-form",
        "type": "ui_form",
        "z": "login-flow",
        "name": "Login Form",
        "label": "Sleep Tracking Clock - Login",
        "group": "login-group",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "",
        "topic": "login",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "auth-check"
            ]
        ]
    },
    {
        "id": "auth-check",
        "type": "function",
        "z": "login-flow",
        "name": "Authentication Check",
        "func": "// default is admin admin\nconst validUsers = global.get('auth')\n.reduce((prev, cur) => \n{prev[cur[0]]=cur[1]; return prev}, {});\n\nif (validUsers[msg.payload.username] === msg.payload.password) {\n    global.set('authenticated', true);\n    global.set('currentUser', msg.payload.username);\n    \n    msg.payload = {\n        message: 'Login successful! Please navigate to Dashboard tab to continue.',\n        user: msg.payload.username\n    };\n    \n    return [msg, { payload: true }];\n} else {\n    msg.payload = {\n        message: 'Invalid username or password. Please try again.'\n    };\n    return [msg, {payload:false}];\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "login-result"
            ],
            [
                "85fdcc147da8bfad"
            ]
        ]
    },
    {
        "id": "login-result",
        "type": "ui_text",
        "z": "login-flow",
        "group": "login-group",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Login Status",
        "label": "Status:",
        "format": "{{msg.payload.message}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "53018ebdbe40bfe5",
        "type": "GSheet",
        "z": "login-flow",
        "creds": "41cc11a7df67cd3b",
        "method": "get",
        "action": "",
        "sheet": "1WDOMNNiOf1nsBzU2xE5ilt02XQw2OFqICUmibP-EJaA",
        "cells": "auth!A:B",
        "flatten": false,
        "name": "",
        "x": 450,
        "y": 40,
        "wires": [
            [
                "af22e085784a8977"
            ]
        ]
    },
    {
        "id": "1eedd04d08fcc9f0",
        "type": "inject",
        "z": "login-flow",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "53018ebdbe40bfe5",
                "9764798f920afd99"
            ]
        ]
    },
    {
        "id": "af22e085784a8977",
        "type": "function",
        "z": "login-flow",
        "name": "set auth (all user data) ",
        "func": "global.set('auth', msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "8c5d8ff8980647c3",
        "type": "ui_form",
        "z": "login-flow",
        "name": "Sign up Form",
        "label": "Sleep Tracking Clock - Register",
        "group": "login-group",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Sign up",
        "cancel": "",
        "topic": "login",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "95dee798fab15e56"
            ]
        ]
    },
    {
        "id": "8e15fefd68814e53",
        "type": "GSheet",
        "z": "login-flow",
        "creds": "41cc11a7df67cd3b",
        "method": "append",
        "action": "",
        "sheet": "1WDOMNNiOf1nsBzU2xE5ilt02XQw2OFqICUmibP-EJaA",
        "cells": "auth!A:B",
        "flatten": false,
        "name": "",
        "x": 650,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "95dee798fab15e56",
        "type": "function",
        "z": "login-flow",
        "name": "preprocess",
        "func": "const users = global.get('auth').map(ent => ent[0])\nif (users.includes(msg.payload.username)) {\nreturn [ null ,\n{\n    payload:{\n        message:'Username already exists'\n    }\n}\n]\n\n}\nreturn [{\n    payload:[msg.payload.username, msg.payload.password],\n},\n    {\n        payload: {\n            message: 'Success fully added user, proceed with login form above.'\n        }\n    }\n]",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 340,
        "wires": [
            [
                "8e15fefd68814e53"
            ],
            [
                "9a72ea69d87fdde7"
            ]
        ]
    },
    {
        "id": "9a72ea69d87fdde7",
        "type": "ui_text",
        "z": "login-flow",
        "group": "login-group",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Sign in status",
        "label": "Status:",
        "format": "{{msg.payload.message}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "9b872422c56eb34f",
        "type": "ui_form",
        "z": "login-flow",
        "name": "Change Password",
        "label": "Change Password( login first) ",
        "group": "login-group",
        "order": 6,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "password": ""
        },
        "payload": "",
        "submit": "Change Password",
        "cancel": "",
        "topic": "login",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "5684b9ab710326d1"
            ]
        ]
    },
    {
        "id": "5684b9ab710326d1",
        "type": "function",
        "z": "login-flow",
        "name": "preprocess",
        "func": "if ( !global.get('authenticated'))\n    return [null , {payload:{message:'Please Login First'}}]\n\nlet username = global.get('currentUser');\nlet new_password = msg.payload.password\n\nconst authTable = Object\n.fromEntries(global.get('auth'));\n\nauthTable[username] =  new_password;\n\nreturn [ {payload:Object.entries(authTable)} ,\n{\n    payload:{\n        message:`Updated password for user ${username}`\n    }\n}\n]\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 500,
        "wires": [
            [
                "a198ba0a8f7ee09b"
            ],
            [
                "7caaee4cdc5c195e"
            ]
        ]
    },
    {
        "id": "a198ba0a8f7ee09b",
        "type": "GSheet",
        "z": "login-flow",
        "creds": "41cc11a7df67cd3b",
        "method": "update",
        "action": "",
        "sheet": "1WDOMNNiOf1nsBzU2xE5ilt02XQw2OFqICUmibP-EJaA",
        "cells": "auth!A:B",
        "flatten": false,
        "name": "",
        "x": 650,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "7caaee4cdc5c195e",
        "type": "ui_text",
        "z": "login-flow",
        "group": "login-group",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Change Password Status:",
        "label": "Status:",
        "format": "{{msg.payload.message}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 670,
        "y": 580,
        "wires": []
    },
    {
        "id": "2c384c56ed9619f9",
        "type": "inject",
        "z": "login-flow",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "authenticated",
        "payloadType": "global",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "14aa901f182655de"
            ]
        ]
    },
    {
        "id": "1fd546bb2ea7ae73",
        "type": "ui_led",
        "z": "login-flow",
        "order": 1,
        "group": "login-group",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "9764798f920afd99",
        "type": "function",
        "z": "login-flow",
        "name": "reset Globs",
        "func": "const keys = global.keys();\nkeys.forEach(key => global.set(key, undefined));\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "14aa901f182655de",
        "type": "function",
        "z": "login-flow",
        "name": "function 1",
        "func": "msg.payload = msg.payload ? true : false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "1fd546bb2ea7ae73"
            ]
        ]
    },
    {
        "id": "85fdcc147da8bfad",
        "type": "link out",
        "z": "login-flow",
        "name": "on authenticated",
        "mode": "link",
        "links": [
            "739dd39314dd33ae"
        ],
        "x": 525,
        "y": 300,
        "wires": []
    },
    {
        "id": "humidity-chart",
        "type": "ui_chart",
        "z": "environment-flow",
        "name": "Humidity Chart",
        "group": "env-charts-group",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#4ecdc4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "light-chart",
        "type": "ui_chart",
        "z": "environment-flow",
        "name": "Light Chart",
        "group": "env-charts-group",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Light (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffe66d",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "overall-quality-chart",
        "type": "ui_chart",
        "z": "environment-flow",
        "name": "Overall Quality Chart",
        "group": "env-charts-group",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Overall Quality (pts)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a8e6cf",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "539377916580c123",
        "type": "mqtt in",
        "z": "environment-flow",
        "name": "",
        "topic": "23127302/sense",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "07391ca88541455f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 200,
        "wires": [
            [
                "2b274d557327cfb6",
                "ef3a2a42af7e349f"
            ]
        ]
    },
    {
        "id": "dfa7d43bac128aab",
        "type": "function",
        "z": "environment-flow",
        "name": "splitter",
        "func": "msg.payload.timestamp = msg.payload.timestamp * 1000 - 25200000;\nnode.send([\n    {\n        payload:msg.payload.temp,\n        timestamp:msg.payload.timestamp,\n        topic:\"temp\",\n    }, \n    {\n        payload:msg.payload.humidity,\n        timestamp:msg.payload.timestamp,\n        topic:\"humidity\",\n    },\n    {\n        payload:msg.payload.lightlevel,\n        timestamp:msg.payload.timestamp,\n        topic:\"lightlevel\",\n    },\n    {\n        payload:Math.max(0, 100 - Math.abs(msg.payload.temp - 24) - Math.abs(msg.payload.humidity - 60) - msg.payload.lightlevel)/10 ,\n        timestamp:msg.payload.timestamp,\n        topic:\"overall\",\n    },\n    \n])\n\n\nreturn null;",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 200,
        "wires": [
            [
                "temp-chart"
            ],
            [
                "humidity-chart"
            ],
            [
                "light-chart"
            ],
            [
                "overall-quality-chart",
                "415aa5547f155409"
            ]
        ]
    },
    {
        "id": "809ab8d91dd04bfd",
        "type": "inject",
        "z": "environment-flow",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temp\":65.2,\"humidity\":63.5,\"lightlevel\":63.5,\"timestamp\":1755264040}",
        "payloadType": "json",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "ef3a2a42af7e349f"
            ]
        ]
    },
    {
        "id": "415aa5547f155409",
        "type": "function",
        "z": "environment-flow",
        "name": "buffering and calculate average",
        "func": "let buffer = flow.get(\"buffer\")\nif ( ! buffer ) {\n    buffer = [];\n}\n\nbuffer.push(msg.payload);\nlet envAvg = buffer.reduce((a, b) => a + b) / buffer.length;\nglobal.set(\"EnvAvg\", envAvg )\nflow.set(\"buffer\", buffer);\nreturn {payload:envAvg.toFixed(2)};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 360,
        "wires": [
            [
                "749a4c73a1387e12"
            ]
        ]
    },
    {
        "id": "2b274d557327cfb6",
        "type": "debug",
        "z": "environment-flow",
        "name": "mqtt in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "ef3a2a42af7e349f",
        "type": "function",
        "z": "environment-flow",
        "name": "AuthSwitch",
        "func": "if (!global.get('authenticated')) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 240,
        "wires": [
            [
                "dfa7d43bac128aab",
                "b4ba8a977718dcad"
            ]
        ]
    },
    {
        "id": "749a4c73a1387e12",
        "type": "link out",
        "z": "environment-flow",
        "name": "envAvg",
        "mode": "link",
        "links": [
            "3258e9215e94e367"
        ],
        "x": 925,
        "y": 360,
        "wires": []
    },
    {
        "id": "0d553f6fb9e3b914",
        "type": "firebase modify",
        "z": "environment-flow",
        "name": "",
        "firebaseconfig": "cb7b12f45030da61",
        "childpath": "msg.childpath",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 740,
        "y": 440,
        "wires": [
            [
                "90f977792246b3ad"
            ]
        ]
    },
    {
        "id": "90f977792246b3ad",
        "type": "debug",
        "z": "environment-flow",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 440,
        "wires": []
    },
    {
        "id": "bd8840c83e105f79",
        "type": "firebase auth",
        "z": "environment-flow",
        "name": "",
        "firebaseconfig": "cb7b12f45030da61",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "3cfd358daedd6eae"
            ]
        ]
    },
    {
        "id": "3cfd358daedd6eae",
        "type": "debug",
        "z": "environment-flow",
        "name": "firebase config change announce",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "64b2367854816417",
        "type": "firebase.on",
        "z": "environment-flow",
        "name": "",
        "firebaseconfig": "cb7b12f45030da61",
        "childpath": "",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 250,
        "y": 560,
        "wires": [
            [
                "fe3426c3848b16eb",
                "b0698f60c961b98a"
            ]
        ]
    },
    {
        "id": "fe3426c3848b16eb",
        "type": "function",
        "z": "environment-flow",
        "name": "set history globs",
        "func": "global.set('history', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b4ba8a977718dcad",
        "type": "function",
        "z": "environment-flow",
        "name": "append user",
        "func": "msg.childpath=global.get('currentUser');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 440,
        "wires": [
            [
                "0d553f6fb9e3b914"
            ]
        ]
    },
    {
        "id": "739dd39314dd33ae",
        "type": "link in",
        "z": "environment-flow",
        "name": "link in 2",
        "links": [
            "85fdcc147da8bfad"
        ],
        "x": 245,
        "y": 40,
        "wires": [
            [
                "f7b3d0e626490c42"
            ]
        ]
    },
    {
        "id": "f7b3d0e626490c42",
        "type": "function",
        "z": "environment-flow",
        "name": "get history",
        "func": "let history = global.get('history')\nlet userHistory = history[global.get('currentUser')];\nlet wait = 0;\nfor (let packet of Object.values(userHistory)){\n    setTimeout( () => node.send({ payload: packet }), wait * 500);\n    wait = wait + 1;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [
            [
                "dfa7d43bac128aab",
                "76a588eaee49ab15"
            ]
        ]
    },
    {
        "id": "76a588eaee49ab15",
        "type": "debug",
        "z": "environment-flow",
        "name": "firebase",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "b0698f60c961b98a",
        "type": "debug",
        "z": "environment-flow",
        "name": "get db",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "078112d3b3375953",
        "type": "inject",
        "z": "environment-flow",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "f7b3d0e626490c42"
            ]
        ]
    },
    {
        "id": "a8c43c3b2262c574",
        "type": "inject",
        "z": "environment-flow",
        "name": "clear chart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "humidity-chart",
                "light-chart",
                "overall-quality-chart",
                "temp-chart"
            ]
        ]
    },
    {
        "id": "temp-chart",
        "type": "ui_chart",
        "z": "environment-flow",
        "name": "Temperature Chart",
        "group": "env-charts-group",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "10",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff6b6b",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "sleep-data-generator",
        "type": "function",
        "z": "sleep-flow",
        "name": "split",
        "func": "\n\nreturn null;",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "sleep-quality-chart"
            ],
            [
                "start-time-chart"
            ],
            [
                "end-time-chart"
            ],
            [
                "movement-chart"
            ]
        ]
    },
    {
        "id": "sleep-quality-chart",
        "type": "ui_chart",
        "z": "sleep-flow",
        "name": "Sleep Quality Chart",
        "group": "sleep-charts-group",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Overall Quality (pts)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd/mm",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#667eea"
        ],
        "outputs": 1,
        "x": 640,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "start-time-chart",
        "type": "ui_chart",
        "z": "sleep-flow",
        "name": "Starting Time Chart",
        "group": "sleep-charts-group",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Starting Time (h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd/mm",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "18",
        "ymax": "24",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#764ba2"
        ],
        "outputs": 1,
        "x": 640,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "end-time-chart",
        "type": "ui_chart",
        "z": "sleep-flow",
        "name": "Ending Time Chart",
        "group": "sleep-charts-group",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Ending Time (h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd/mm",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "4",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#f093fb"
        ],
        "outputs": 1,
        "x": 640,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "movement-chart",
        "type": "ui_chart",
        "z": "sleep-flow",
        "name": "Movement Chart",
        "group": "sleep-charts-group",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Movement During Sleep (pts)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd/mm",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff9a9e"
        ],
        "outputs": 1,
        "x": 640,
        "y": 250,
        "wires": [
            []
        ]
    },
    {
        "id": "9619c783e2a40352",
        "type": "debug",
        "z": "sleep-flow",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "81786e1a6ffa6ed2",
        "type": "ui_button",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 2,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "alarm-toggle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "iso",
        "payloadType": "date",
        "topic": "toggle-time",
        "topicType": "str",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "4c4f92a2bd23bf83"
            ]
        ]
    },
    {
        "id": "4eb1e901339c96ed",
        "type": "mqtt out",
        "z": "4c5f97a5f0e24b71",
        "name": "web-button-alarm-toggle",
        "topic": "esp32-STC48613/alarm-toggle",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07391ca88541455f",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "e494f2c3eabf2566",
        "type": "mqtt in",
        "z": "4c5f97a5f0e24b71",
        "name": "sleep-quality",
        "topic": "ESP32-STC48613/sleep-quality",
        "qos": "2",
        "datatype": "utf8",
        "broker": "07391ca88541455f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 20,
        "wires": [
            [
                "8b8f97311bdc9197",
                "2698840de059b8a5"
            ]
        ]
    },
    {
        "id": "d78be8eba57fa10f",
        "type": "mqtt in",
        "z": "4c5f97a5f0e24b71",
        "name": "env-quality",
        "topic": "ESP32-STC48613/env-quality",
        "qos": "2",
        "datatype": "utf8",
        "broker": "07391ca88541455f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 100,
        "wires": [
            [
                "438bc3042b6d3aec",
                "1400465acebb7efe"
            ]
        ]
    },
    {
        "id": "c386d072d7ba57d6",
        "type": "ui_chart",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 12,
        "width": 17,
        "height": 9,
        "label": "historyChart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "9",
        "removeOlderPoints": "15",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ccda619479c0b739",
        "type": "ui_gauge",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 1,
        "width": 20,
        "height": 7,
        "gtype": "gage",
        "title": "sleep-quality-gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 20,
        "wires": []
    },
    {
        "id": "947c4744d8311da6",
        "type": "ui_gauge",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 11,
        "width": 13,
        "height": 9,
        "gtype": "gage",
        "title": "env-quality-gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "73d02866264c5547",
        "type": "ui_button",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 6,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Set Alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "iso",
        "payloadType": "date",
        "topic": "time",
        "topicType": "msg",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "aa651b8b417f0873"
            ]
        ]
    },
    {
        "id": "48c5ed161b9fb210",
        "type": "join",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "2b071609943fe19c"
            ]
        ]
    },
    {
        "id": "c63314bb34d9b358",
        "type": "ui_numeric",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "label": "min",
        "tooltip": "",
        "group": "923fa8921ff9b099",
        "order": 5,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "alarm-input-min",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "b319fb9bbedca6bb"
            ]
        ]
    },
    {
        "id": "4dced5d249571365",
        "type": "ui_numeric",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "label": "hour",
        "tooltip": "",
        "group": "923fa8921ff9b099",
        "order": 4,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "alarm-input-hour",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "23",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "878bd7e0aa95eda4"
            ]
        ]
    },
    {
        "id": "b66a63aa1aa086bb",
        "type": "mqtt out",
        "z": "4c5f97a5f0e24b71",
        "name": "web-alarm-input",
        "topic": "esp32-STC48613/alarm-input",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07391ca88541455f",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "54b8aa2afbd3711a",
        "type": "ui_button",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 10,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Add Sleep",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "iso",
        "payloadType": "date",
        "topic": "payload",
        "topicType": "msg",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "71da7443399770ac"
            ]
        ]
    },
    {
        "id": "672f1cb1f5067d8d",
        "type": "join",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "47c4f0cd61a182ad"
            ]
        ]
    },
    {
        "id": "1a4a5ec56311ccdd",
        "type": "ui_numeric",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "label": "min",
        "tooltip": "",
        "group": "923fa8921ff9b099",
        "order": 9,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "sleep-input-min",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "d67d9b8ef87d2675"
            ]
        ]
    },
    {
        "id": "d7ad36215472c5f2",
        "type": "ui_numeric",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "label": "hour",
        "tooltip": "",
        "group": "923fa8921ff9b099",
        "order": 8,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "sleep-input-hour",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "23",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "2f968b0a1dfe1c5d"
            ]
        ]
    },
    {
        "id": "7fdcc03bfb161ce9",
        "type": "mqtt out",
        "z": "4c5f97a5f0e24b71",
        "name": "web-sleep-input",
        "topic": "esp32-STC48613/sleep-input",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07391ca88541455f",
        "x": 880,
        "y": 460,
        "wires": []
    },
    {
        "id": "71da7443399770ac",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "time",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "672f1cb1f5067d8d"
            ]
        ]
    },
    {
        "id": "2f968b0a1dfe1c5d",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sleep-input-hour",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "672f1cb1f5067d8d"
            ]
        ]
    },
    {
        "id": "d67d9b8ef87d2675",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sleep-input-min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "672f1cb1f5067d8d"
            ]
        ]
    },
    {
        "id": "aa651b8b417f0873",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "time",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "48c5ed161b9fb210"
            ]
        ]
    },
    {
        "id": "878bd7e0aa95eda4",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "alarm-input-hour",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "48c5ed161b9fb210"
            ]
        ]
    },
    {
        "id": "b319fb9bbedca6bb",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "alarm-input-min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "48c5ed161b9fb210"
            ]
        ]
    },
    {
        "id": "4c4f92a2bd23bf83",
        "type": "function",
        "z": "4c5f97a5f0e24b71",
        "name": "AuthSwitch",
        "func": "if (!global.get('authenticated')) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 220,
        "wires": [
            [
                "4eb1e901339c96ed"
            ]
        ]
    },
    {
        "id": "2b071609943fe19c",
        "type": "function",
        "z": "4c5f97a5f0e24b71",
        "name": "AuthSwitch",
        "func": "if (!global.get('authenticated')) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "b66a63aa1aa086bb"
            ]
        ]
    },
    {
        "id": "47c4f0cd61a182ad",
        "type": "function",
        "z": "4c5f97a5f0e24b71",
        "name": "AuthSwitch",
        "func": "if (!global.get('authenticated')) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 460,
        "wires": [
            [
                "7fdcc03bfb161ce9"
            ]
        ]
    },
    {
        "id": "438bc3042b6d3aec",
        "type": "function",
        "z": "4c5f97a5f0e24b71",
        "name": "AuthSwitch",
        "func": "if (!global.get('authenticated')) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "947c4744d8311da6"
            ]
        ]
    },
    {
        "id": "8b8f97311bdc9197",
        "type": "function",
        "z": "4c5f97a5f0e24b71",
        "name": "AuthSwitch",
        "func": "if (!global.get('authenticated')) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 20,
        "wires": [
            [
                "ccda619479c0b739"
            ]
        ]
    },
    {
        "id": "1400465acebb7efe",
        "type": "function",
        "z": "4c5f97a5f0e24b71",
        "name": "AuthSwitch",
        "func": "if (!global.get('authenticated')) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "c386d072d7ba57d6"
            ]
        ]
    },
    {
        "id": "2698840de059b8a5",
        "type": "function",
        "z": "4c5f97a5f0e24b71",
        "name": "AuthSwitch",
        "func": "if (!global.get('authenticated')) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 60,
        "wires": [
            [
                "c386d072d7ba57d6"
            ]
        ]
    },
    {
        "id": "3258e9215e94e367",
        "type": "link in",
        "z": "4c5f97a5f0e24b71",
        "name": "link in 1",
        "links": [
            "749a4c73a1387e12"
        ],
        "x": 255,
        "y": 160,
        "wires": [
            [
                "438bc3042b6d3aec"
            ]
        ]
    }
]