node-red/flows.json
[
    {
        "id": "4c5f97a5f0e24b71",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "07391ca88541455f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "44790f209ca2adcd",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4b9a58b6967da16e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "923fa8921ff9b099",
        "type": "ui_group",
        "name": "",
        "tab": "44790f209ca2adcd",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c16f4ac1a6ffefb",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "c05d141fba33e232",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "4c16f4ac1a6ffefb",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "0a2ef10a95340e8c",
        "type": "ui_spacer",
        "z": "4c5f97a5f0e24b71",
        "name": "spacer",
        "group": "923fa8921ff9b099",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "82d11885287ffda4",
        "type": "ui_spacer",
        "z": "4c5f97a5f0e24b71",
        "name": "spacer",
        "group": "923fa8921ff9b099",
        "order": 7,
        "width": 10,
        "height": 1
    },
    {
        "id": "81786e1a6ffa6ed2",
        "type": "ui_button",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 2,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "alarm-toggle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "iso",
        "payloadType": "date",
        "topic": "toggle-time",
        "topicType": "str",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "4eb1e901339c96ed"
            ]
        ]
    },
    {
        "id": "4eb1e901339c96ed",
        "type": "mqtt out",
        "z": "4c5f97a5f0e24b71",
        "name": "web-button-alarm-toggle",
        "topic": "esp32-STC48613/alarm-toggle",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07391ca88541455f",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "e494f2c3eabf2566",
        "type": "mqtt in",
        "z": "4c5f97a5f0e24b71",
        "name": "sleep-quality",
        "topic": "ESP32-STC48613/sleep-quality",
        "qos": "2",
        "datatype": "utf8",
        "broker": "07391ca88541455f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 20,
        "wires": [
            [
                "c386d072d7ba57d6",
                "ccda619479c0b739"
            ]
        ]
    },
    {
        "id": "d78be8eba57fa10f",
        "type": "mqtt in",
        "z": "4c5f97a5f0e24b71",
        "name": "env-quality",
        "topic": "ESP32-STC48613/env-quality",
        "qos": "2",
        "datatype": "utf8",
        "broker": "07391ca88541455f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "c386d072d7ba57d6",
                "947c4744d8311da6"
            ]
        ]
    },
    {
        "id": "c386d072d7ba57d6",
        "type": "ui_chart",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 12,
        "width": 17,
        "height": 9,
        "label": "historyChart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "9",
        "removeOlderPoints": "15",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ccda619479c0b739",
        "type": "ui_gauge",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 1,
        "width": 20,
        "height": 7,
        "gtype": "gage",
        "title": "sleep-quality-gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 20,
        "wires": []
    },
    {
        "id": "947c4744d8311da6",
        "type": "ui_gauge",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 11,
        "width": 13,
        "height": 9,
        "gtype": "gage",
        "title": "env-quality-gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "73d02866264c5547",
        "type": "ui_button",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 6,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Set Alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "iso",
        "payloadType": "date",
        "topic": "time",
        "topicType": "msg",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "aa651b8b417f0873"
            ]
        ]
    },
    {
        "id": "48c5ed161b9fb210",
        "type": "join",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "b66a63aa1aa086bb"
            ]
        ]
    },
    {
        "id": "c63314bb34d9b358",
        "type": "ui_numeric",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "label": "min",
        "tooltip": "",
        "group": "923fa8921ff9b099",
        "order": 5,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "alarm-input-min",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "b319fb9bbedca6bb"
            ]
        ]
    },
    {
        "id": "4dced5d249571365",
        "type": "ui_numeric",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "label": "hour",
        "tooltip": "",
        "group": "923fa8921ff9b099",
        "order": 4,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "alarm-input-hour",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "23",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "878bd7e0aa95eda4"
            ]
        ]
    },
    {
        "id": "b66a63aa1aa086bb",
        "type": "mqtt out",
        "z": "4c5f97a5f0e24b71",
        "name": "web-alarm-input",
        "topic": "esp32-STC48613/alarm-input",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07391ca88541455f",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "54b8aa2afbd3711a",
        "type": "ui_button",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "group": "923fa8921ff9b099",
        "order": 10,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Add Sleep",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "iso",
        "payloadType": "date",
        "topic": "payload",
        "topicType": "msg",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "71da7443399770ac"
            ]
        ]
    },
    {
        "id": "672f1cb1f5067d8d",
        "type": "join",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "7fdcc03bfb161ce9"
            ]
        ]
    },
    {
        "id": "1a4a5ec56311ccdd",
        "type": "ui_numeric",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "label": "min",
        "tooltip": "",
        "group": "923fa8921ff9b099",
        "order": 9,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "sleep-input-min",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "d67d9b8ef87d2675"
            ]
        ]
    },
    {
        "id": "d7ad36215472c5f2",
        "type": "ui_numeric",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "label": "hour",
        "tooltip": "",
        "group": "923fa8921ff9b099",
        "order": 8,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "sleep-input-hour",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "23",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "2f968b0a1dfe1c5d"
            ]
        ]
    },
    {
        "id": "7fdcc03bfb161ce9",
        "type": "mqtt out",
        "z": "4c5f97a5f0e24b71",
        "name": "web-sleep-input",
        "topic": "esp32-STC48613/sleep-input",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07391ca88541455f",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "71da7443399770ac",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "time",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "672f1cb1f5067d8d"
            ]
        ]
    },
    {
        "id": "2f968b0a1dfe1c5d",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sleep-input-hour",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "672f1cb1f5067d8d"
            ]
        ]
    },
    {
        "id": "d67d9b8ef87d2675",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sleep-input-min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "672f1cb1f5067d8d"
            ]
        ]
    },
    {
        "id": "aa651b8b417f0873",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "time",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "48c5ed161b9fb210"
            ]
        ]
    },
    {
        "id": "878bd7e0aa95eda4",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "alarm-input-hour",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "48c5ed161b9fb210"
            ]
        ]
    },
    {
        "id": "b319fb9bbedca6bb",
        "type": "change",
        "z": "4c5f97a5f0e24b71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "alarm-input-min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "48c5ed161b9fb210"
            ]
        ]
    }
]